<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Resume Maker</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    </head>
    
    <body style="background-color: #f3f3f3; ">
        <div height='70px' style='background-color: #005580; height:100px; padding-top: 0.1%; text-align: center;'>
            <div class="row">
                <div class="input-field col s3" style="color:white;">
                </div>
                <div class="input-field col s1">
                    <img src="{% static 'iitk.png' %}" style="width:64px;height:64px;">
                </div>
                <div class="input-field col s4" style="color:white;">
                    <h4>Resume Verification System</h4>
                </div>
                <div class="input-field col s3" style="color:white;">
                    
                </div>
            </div> 
        </div>
        {% block navbar %}
        <ul id="dropdown0" class="dropdown-content">
          <li><a href="/user/view_template/1">Template 1</a></li>
          <li class="divider"></li>
          <li><a href="/user/view_template/1">Template 2</a></li>
          <li class="divider"></li>
          <li><a href="/user/view_template/1">Template 3</a></li>
        </ul>
          <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo right"></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/user/logout">Logout</a></li>
              </ul>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/user/">Home</a></li>
                <li><a href="/user/make_resume/">Create Resume</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown0">View Templates<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/user/information/">Information</a></li>
              </ul>
            </div>
          </nav>
        {% endblock %}
        <div style="padding-left: 1%;">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2016 RVS, All rights reserved.
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
<script src="{% static 'jquery.formset.js' %}"></script>

<script>
    $('.link-formset').formset({
        addText: 'add link',
        deleteText: 'remove'
    });
</script>

<script type="text/javascript">
    $(function() {
        $('#myForm tbody tr').formset({
            prefix: '{{ formset.prefix }}'
        });
    })
</script>
<script>
    $(document).ready(function() {
    $('select').material_select();
});
</script>
    </body>
</html>

