{% extends 'first/base.html' %}

    {% block navbar %}
    <div>
        {% if user.is_authenticated %}
            <ul id="dropdown0" class="dropdown-content">
              <li><a href="/user/view_template/1">Template 1</a></li>
              <li class="divider"></li>
              <li><a href="/user/view_template/1">Template 2</a></li>
              <li class="divider"></li>
              <li><a href="/user/view_template/1">Template 3</a></li>
            </ul>
            <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo right"></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/user/logout">Logout</a></li>
              </ul>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/user/">Home</a></li>
                <li><a href="/user/make_resume/">Create Resume</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown0">View Templates<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/user/information/">Information</a></li>
              </ul>
            </div>
          </nav>
        {% else %}
            <nav>
                <div class="nav-wrapper">

                  <a href="#" class="brand-logo right"></a>
                  <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/user/">Home</a></li>
                    <li><a href="/user/information/">Information</a></li>
                  </ul>
                </div>
            </nav>
        {% endif %}
    </div>
    <hr>
    {% endblock %}
    {% block content %}

    {% if not user.is_authenticated %}
    {{ empty_fields }}{{ wrong_input }}
    {% if wrong_input %}
        <p>* Wrong Credentials</p>
    {% endif %}
    {% if empty_fields %}
        <p>* Fill all the fields</p>
    {% endif %}
    {% csrf_token %}
    <form method="POST" action="/user/login/">
        {% csrf_token %}

    <div class="row">
        <div class="input-field col s6">
            <label for="username" value="Username">Username:</label>
            <input type="text" id='username' name="username" required/>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <label for="password" value="Password">Password:</label>
            <input id="password" name="password" type="password" required/>
        </div>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action"><input type="submit" value="Login"></input>
        </button>
        </form>
        <button onclick="visitPage('/user/register/');" class="btn waves-effect waves-light" type="submit" name="action">Register
        </button>
    </div>
    {% else %}
        <center><p style="font-family: 'Comic Sans MS', cursive, sans-serif;"><font size="5">Hello, {{ request.user.first_name }} &#x1f607;</font><p>
        {% if resumes %}
            <h5><pre>YOUR RESUMES</pre></h5>
        {% else %}
            <h5><pre>Click 'Create Resume' to create your first resume</pre></h5>
        {% endif %}
        {% for resume in resumes %}
            <div class="row">
                <div class="input-field col s2"></div>
                <div class="input-field col s2">
                    {{ resume }}
                </div>
                <div class="input-field col s2">
                    <button onclick="visitPage('{% url 'resume_detail_url' resume.id %}');" class="btn waves-effect waves-light" type="submit" name="action">Edit
                    </button>
                </div>
                <div class="input-field col s1">
                    <button onclick="visitPage('{% url 'delete_url' resume.id %}');" class="btn waves-effect waves-light" type="submit" name="action">Delete
                    </button>
                </div>
                <div class="input-field col s3">
                    <a class='dropdown-button btn' href='#' data-activates={{ resume.id }}>Generate PDF</a>
                      <ul id={{ resume.id }} class='dropdown-content'>
                        <li><a href="{% url 'getpdf_url' resume_id=resume.id template_id=1 %}">Template 1</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'getpdf_url' resume_id=resume.id template_id=2 %}">Template 2</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'getpdf_url' resume_id=resume.id template_id=3 %}">Template 3</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
        </center>
    {% endif %}
    <script>
    function visitPage(x){
        window.location=x;
    }
    </script>
    <script>
        $(".dropdown-button").dropdown();
    </script>
    {% endblock %}
