{% extends 'first/base.html' %}
{% block navbar %}
            <nav>
                <div class="nav-wrapper">
                  
                  <a href="#" class="brand-logo right"></a>
                  <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/user/">Home</a></li>
                    <li><a href="/user/information/">Information</a></li>
                  </ul>
                </div>
            </nav>
{% endblock %}

{% block content %}
<form method="POST" action="/user/register/">
    {% csrf_token %}
    {% if email_exists %}
        <p>* Account the given email already exists</p>
    {% endif %}
    <div class="row">
        <div class="input-field col s6">
        	{{form.username.label_tag}}
			{{form.username}}
		</div>
		<div class="input-field col s6">
			<span class="helptext">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
		</div>
	</div>
	<div class="row">
        <div class="input-field col s6">
        	{{form.email.label_tag}}
			{{form.email}}
		</div>
	</div>
	<div class="row">
        <div class="input-field col s6">
        	{{form.password.label_tag}}
			{{form.password}}
		</div>
	</div>
	<div class="row">
        <div class="input-field col s6">
        	{{form.first_name.label_tag}}
			{{form.first_name}}
		</div>
	</div>
	<div class="row">
        <div class="input-field col s6">
        	{{form.last_name.label_tag}}
			{{form.last_name}}
		</div>
	</div>
	<div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action"><input type="submit" value="Register"></input>
        </button>
    
        </form>
        <button onclick="visitPage('{% url 'login_url' %}');" class="btn waves-effect waves-light" name="action"><a href={% url 'login_url' %} style="color:white">Login</a>
        </button>
    </div>
    <script>
    function visitPage(x){
        window.location=x;
    }
    </script>
{% endblock %}
